<!-- Main jumbotron for a primary marketing message or call to action -->

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, at our <span class="p1">neXt</span> reservation system!</h1>
      <p>We provide for you well-organized, user-friendly system that help you organize conference room you need.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a><div class="container" >
      <br>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Conference rooms</h2>
        <p>Choose from our broad range of rooms and find the one you need to wow clients, brainstorm with colleagues, hold memorable workshops or deliver a winning pitch. View our offer and book below.  </p>
        <p><a class="btn btn-secondary" href="{% url 'rooms' %}" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Additional amenities</h2>
        <p> At our facility beside conference rooms we also have additional amenities to maximize your satisfaction. We know that after brainstorming or intensive meeting you deserve a rest so our guests can enjoy our restaurant or train at the gym.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <br>
      <div class="col-md-4">
        <h2>Customize</h2>
        <p>We care about your needs and realize your meetings can be very challenging and basic conference room's equipment could not be satisfying. We can customize an offer especially for you! Contact us to learn more.  </p>
        <p><a class="btn btn-secondary" href="#" role="button">Contact</a></p>
      </div>
    </div>

  </div></p>
    </div>
  </div>
