<div class="card">
    <div class="card-body">
        <form action="" method="GET">
            {% load static %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    Room name: <input type="text" name="filter_name" class="form-control"
                                      value="{{ filter.filter_name }}">
                </div>
                <div class="form-group col-md-3">
                    Capacity from: <input type="number" class="form-control" step="1" pattern="\d+"
                                          name="filter_capacity_from" value="{{ filter.filter_capacity_from }}">
                </div>
                <div class="form-group col-md-3">
                    To: <input type="number" class="form-control" step="1" pattern="\d+" name="filter_capacity_to"
                               value="{{ filter.filter_capacity_to }}">
                </div>
                <div class="form-check col-md-2">
                    Projector: <input type="checkbox" name="filter_projector" value="true"
                        {% if filter.filter_projector %} checked disabled {% endif %}>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    Available on: <input type="date" name="filter_date" class="form-control"
                                         value="{{ filter.filter_date }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    Apply filter
                    <button type="submit" name="filter" class="btn btn-primary" value="apply" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        Search
                    </button>
                </div>
                <div class="form-group col-md-6">
                    Clear filter
                    <button type="submit" name="filter" class="btn btn-primary" value="clear" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-octagon" viewBox="0 0 16 16">
                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>